
    <h2>Hello World!!!</h2>
    <h3>About!!!</h3>
    <p>Welcome to my matching application</p>
    <p>This is a handlebars test, my age is {{ age }} </p>
    

    <form action="/my-handling-form-page" method="post">
 <ul>

    <label for="name">Name:</label>
    <input type="text" id="name" name="user_name">
  
 
    <label for="mail">E-mail:</label>
    <input type="email" id="mail" name="user_email">
 
    <label for="msg">Message:</label>
    <textarea id="msg" name="user_message"></textarea>
 
 </ul>
</form>
<ul class="button">
  <button type="submit">Send your message</button>
</ul>