<section class="succes">

<h2>Hi, {{data.who}} je bent succesvol aangemeld!</h2>
<p>Tijd om jouw matches te bekijken voor wandelen in <section class="dynamisch">{{data.message}}</section> </p>
<p>We laden jouw resultaten en houden rekening met jouw interesses: <section class="dynamisch">{{data.age}}</section> </p>

<img class="walking" src="walking-2.png" alt="illustration">


<a href="home"><button class="input-button succes-button">Naar jouw matches</button></a>
