<section class="succes">

<h2>Hi, {{data.who}} je bent succesvol aangemeld!</h2>
<p>Tijd om jouw matches te bekijken voor wandelen in <section class="dynamisch">{{data.message}}</section> </p>
<p>We laden jouw resultaten en houden rekening met jouw interesses: <section class="dynamisch">{{data.age}}</section> </p>

<form action="../views/home.handlebars">
    <input type="submit" value="Naar jouw matches" />
</form>
</section>
