<section class="introduction">
    <h1>Overzicht van jouw matches: </h1>

</section>

<section class="matches">

    <a href="match-1">
        <section class="match-1">
            <img class="match-1-picture" src="tamas.jpg" alt="profile" />
            <ul>
                <li>
                    <h2>Naam: Tamas Hevare</h2>
                </li>
                <li>
                    <h2>Locatie: Amsterdam Oost</h2>
                </li>
                <li>
                    <h2>Interesse: Tennis</h2>
                </li>
            </ul>

        </section>
    </a>

    <section class="match-1">
        <img class="match-1-picture" src="james.jpg" alt="profile" />
        <ul>
            <li>
                <h2>Naam: James Lewis</h2>
            </li>
            <li>
                <h2>Locatie: Amsterdam Oost</h2>
            </li>
            <li>
                <h2>Interesse: Tennis</h2>
            </li>
        </ul>


    </section>



    <section class="match-1">
        <img class="match-1-picture" src="laura.jpg" alt="profile" />
        <ul>
            <li>
                <h2>Naam: Laura Nulle</h2>
            </li>
            <li>
                <h2>Locatie: Amsterdam Oost</h2>
            </li>
            <li>
                <h2>Interesse: Tennis</h2>
            </li>
        </ul>


    </section>






</section>