<h1>Welcome to node.js with handlebars</h1>
<p>This demonstrates a form with node.js</p>

<form action="/" method="POST" role="form" enctype="application/x-www-form-urlencoded">
    <legend>Enter registration information</legend>

    <input type="text" class="form-control" name="first-name" id="first_name" placeholder="first name">
    <input type="text" class="form-control" name="last-name" id="last_name" placeholder="last name">
    <button type="submit" class="btn btn-primary">Submit</button>



</form>