<h1 class="h1match">Jouw match:</h1>
<section class="match-1-swipe">
<img class="match-1-picture-swipe" src="james.jpg" alt="profile" />
<ul>
<li><h2>Naam: James Lewis</h2></li>
<li><h2>Locatie: Amsterdam Oost</h2></li>
<li><h2>Interesse: Tennis</h2></li>
</ul>

</section>

<section class="buttons">
<a href="match-succes"><button class="match-1-input-button">♥</button></a>
<a href="match-3"><button class="match-1-input-button button2">X</button></a>
</section>