<section class="home-introduction">
<h1 class="wandelmatch">Hoera! Je hebt een wandelmatch</h1>
<a href="#"><button class="wandelmatch-button">Contact maken</button></a>
<img class="home-image" src="match-succes.png">

</section>

