<h2 class="updated">Nieuwe matches:</h2>


    {{#each nieuweMatches}}
    <section class="match-1">
         <img class="match-1-picture" src="tamas.jpg" alt="profile" />
         <ul>
    <li>
  <h3>Naam: {{{this._doc.name}}}  </h3>
 </li>
 <li>
     <h3>Locatie: {{{this._doc.location}}} </h3>
 </li>
 <li>
     <h3>Interesse: {{{this._doc.interests}}} </h3>
 </li>
 </ul>
 </section>
    {{/each}}


